@use "../variables";

.about_wrap {
  z-index: 999;
}

.section_header_wrap {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  max-width: variables.$container;
  justify-content: flex-end;
  align-items: center;
  margin: 8rem auto;
}

.header_decoration {
  // width: 75%;
  flex: 1;
  height: 1px;
  background: #333131;
}

.header_decoration::before {
  content: "";
  height: 1rem;
  width: 1rem;
  position: absolute;
  background: variables.$black-med;
  margin-top: -0.5rem;
  border: 1px solid #7c7d80;
  right: 0;
}

.about_header {
  margin-right: 1rem;
  color: variables.$grey-lite;
  // text-align: center;
  font-size: 3rem;
  letter-spacing: 0.25rem;
  text-shadow: variables.$shadow-full;
}

.about_header::before {
  content: "";
  height: 0.5rem;
  width: 7.5rem;
  background: variables.$red-gradient;
  position: absolute;
  margin-left: 25px;
  z-index: -1;
  border-radius: 0.25rem;
  bottom: 1.5rem;
  transform: rotate3d(1, 1, 1, 180deg);
}

.about_header::after {
  content: "002";
  font-size: 0.8rem;
  opacity: 0.5;
  position: absolute;
  font-family: variables.$font-accent;
  right: -5px;
}

.about_inner {
  display: flex;
  max-width: variables.$container-indent;
  margin: 0 auto;
}

.about_text_wrap {
  width: 50%;
  font-weight: 300;
  p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  a {
    color: variables.$green;
    text-decoration: underline;
  }
}

.tech_stack_wrap {
  display: flex;
  margin-bottom: 1rem;
  font-family: variables.$font-accent;
}

.tech_stack {
  color: variables.$green;
  list-style: none;
  margin-right: 1rem;
  svg {
    margin-right: 0.5rem;
    opacity: 0.25;
  }
}

.about_image_wrap {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

// .about_image_wrap::after {
//   content: "";
//   height: 10rem;
//   width: 10rem;
//   position: absolute;
//   margin-top: 26px;
//   margin-right: -26px;
//   border: 1px solid grey;
//   // background-size: 40px 40px;
//   // background-image: linear-gradient(to right, grey 1px, transparent 1px),
//   //   linear-gradient(to bottom, grey 1px, transparent 1px);
//   z-index: -1;
// }

.about_image {
  max-width: 75%;
  border: 1px solid variables.$grey-dark;
}

.built_wrap {
  text-align: center;
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  p {
    font-family: "Fira Mono";
    font-size: 0.8rem;
    border: 1px solid #aabcd0;
    padding: 1rem;
    border-radius: 0.125rem;
    color: #f9f9f9;
  }
}
