@use "../variables";

.about_wrap {
  z-index: 999;
  max-width: 90%;
  margin: 8rem auto;
}

.about_inner {
  display: flex;
  justify-content: space-between;
  max-width: variables.$container-indent;
  margin: 8rem auto 2rem auto;
}

.about_page_inner {
  display: flex;
  justify-content: space-between;
  max-width: variables.$container-indent;
  margin: 8rem auto 2rem auto;
}

.about_text_wrap {
  width: 50%;
  font-weight: 300;
  p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  a {
    color: variables.$green;
    // text-decoration: underline;
  }
  a:hover {
    text-decoration: underline;
  }
}

.tech_stack_wrap {
  display: flex;
  margin-bottom: 1rem;
  font-family: variables.$font-accent;
}

.tech_stack {
  color: variables.$green;
  list-style: none;
  margin-right: 1rem;
  svg {
    margin-right: 0.5rem;
    opacity: 0.25;
  }
}

.about_image {
  width: 100%;
  max-width: 250px;
  border: 2px solid variables.$green;
  filter: grayscale(0.85);
  transition: filter 0.4s ease;
}

.about_image:hover {
  filter: grayscale(0.1);
}

.built_wrap {
  text-align: center;
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  p {
    font-family: "Fira Mono";
    font-size: 0.8rem;
    // border: 1px solid #aabcd0;
    padding: 1rem;
    border-radius: 0.125rem;
    color: #f9f9f9;
  }
}

.uses_wrap {
  max-width: variables.$container-indent;
  margin: 0 auto;
  line-height: 1.5;
  h2 {
    margin-bottom: 2rem;
  }
  h3 {
    margin-bottom: 0.5rem;
  }
  svg {
    opacity: 0.5;
  }
}

.uses_segment {
  margin-bottom: 1rem;
}

.uses_detail {
  font-family: variables.$font-accent;
  font-size: 0.8rem;
  opacity: 0.5;
}

.more_about {
  display: flex;
  justify-content: center;
  button {
    padding: 1rem 1rem;
    background: variables.$black-med;
    border: 1px solid variables.$grey-med;
    color: variables.$white;
    font-family: variables.$font-accent;
    box-shadow: variables.$shadow-low;
    margin-top: 2rem;
    border-radius: 0.25rem;
  }
  button:hover {
    cursor: pointer;
    color: variables.$green;
    border: 1px solid variables.$green;
    svg {
      transform: rotate(90deg);
    }
  }
  svg {
    transition: all 0.2s ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .about_wrap {
    margin: 2rem auto;
  }
  .about_inner {
    flex-direction: column;
    margin: 2rem auto;
  }
  .about_page_inner {
    flex-direction: column;
    margin: 2rem auto;
  }
  .about_text_wrap {
    width: 100%;
  }
  .about_image_wrap {
    width: 100%;
    justify-content: center;
  }
}
