@use "../variables";

.blog_article_wrap {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
}

.blog_article_title {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.blog_post_body {
  font-weight: 300;
  p {
    line-height: 1.5rem;
    margin-top: 1rem;
  }
}
