@use "../variables";

.footer_wrap {
  text-align: center;
  background: variables.$green;
  margin: 8rem 0 0 0;
  padding: 2rem;
  p {
    font-family: "Fira Mono";
    color: variables.$black-dark;
  }
}
