@use "../variables";

.header {
  font-size: 5em;
}

.subheader {
  font-family: variables.$font-accent;
  margin-bottom: 0.5rem;
  color: #bababa;
}

.header_link {
  color: variables.$primary-color-light;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
