@use "../variables";

.header {
  font-size: 5em;
  color: white;
  line-height: 5rem;
  letter-spacing: 0.25rem;
}

.subheader {
  font-family: variables.$font-accent;
  margin-bottom: 0.5rem;
  color: variables.$grey-med;
  font-size: 1.2rem;
  width: 405px;
  padding: 1rem 0;
}

.header_link_wrap {
  // background: variables.$red;
  color: white;
}

.header_link {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  color: variables.$red;
  box-shadow: 2px 2px blue;
}

.cycle_text {
  color: variables.$red;
  position: relative;
}

.cycle_text::before {
  content: "";
  width: 0rem;
  height: 2px;
  background: variables.$red-gradient;
  position: absolute;
  bottom: -5px;
  opacity: 0;
  animation: fill-in 3s ease-out infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fill-in {
  from {
    width: 0rem;
    // opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
