@use "../variables";

.header {
  font-size: 5em;
  color: white;
  line-height: 5rem;
  letter-spacing: 0.25rem;
}

.subheader {
  font-family: variables.$font-accent;
  margin-bottom: 0.5rem;
  color: variables.$grey-med;
  font-size: 1.2rem;
  width: 405px;
}

.header_link_wrap {
  background: variables.$red;
  color: white;
}

.header_link {
  color: white;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.cycle_text {
  color: variables.$red;
}
