@use "../variables";

.hero_wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: -4rem;
}

.hero_inner {
  position: absolute;
  display: flex;
  top: 5%;
  z-index: 2;
}

.canvas_wrap {
  cursor: pointer;
  width: 100%;
  height: calc(100vh + 8rem);
  position: absolute;
}

.canvas_wrap canvas {
  // padding-top: 3.5rem;
}

.hero_email {
  position: absolute;
  color: white;
  width: 20rem;
  z-index: 99999;
  left: 3rem;
  top: 50%;
}

@media screen and (max-width: 768px) {
  .hero_inner {
    flex-direction: column;
    top: 5%;
    text-align: center;
  }
  .canvas_wrap {
    z-index: -1;
  }
}
