@use "../variables";

.hero_inner {
  display: flex;
  align-items: center;
}

.hero_selfie {
  max-width: 12rem;
  box-shadow: -4px 4px variables.$primary-color-light;
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  .hero_inner {
    flex-direction: column;
  }
  .hero_selfie {
    max-width: 100%;
    box-shadow: none;
    margin: 0.5rem;
  }
}
