@use "../variables";

.nav_wrap {
  position: relative;
  max-width: variables.$container-xl;
  height: 4rem;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 999;
  height: 4rem;
  /* border-bottom: 1px solid grey; */
  max-width: variables.$container-xl;
  margin-top: 2rem;
}

.logo {
  // align-self: flex-start;
  margin: 0 1rem;
  width: 3rem;
}

.dropdown_link_wrap > a {
  // margin-left: 2rem;
  text-decoration: none;
  font-family: variables.$font-accent;
  color: variables.$white;
  margin: 0 1rem;
}

.dropdown_link_wrap > a:hover {
  color: variables.$green;
}

.dropdown_toggle {
  display: none;
}

.burger_span {
  height: 0.25rem;
  width: 2rem;
  background: variables.$green;
  display: block;
  margin: 3px 0;
}

.burger_span:nth-child(even) {
  width: 1.5rem;
}

@media (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    background: variables.$black-med;
  }
  .dropdown_link_wrap {
    // display: none;
    opacity: 0; /* fade out */
    transform: translateY(-100%); /* move out of view */
    transition: transform 0.2s, opacity 0.2s;
  }
  .logo,
  .dropdown_toggle {
    z-index: 1;
  }
  .dropdown_toggle {
    display: initial;
    /* margin: 1rem; */
    height: 1rem;
    width: 2rem;
    background: transparent;
    border: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .dropdown_link_wrap > a {
    display: none;
  }
  .dropdown_opened {
    .burger_span {
      background: variables.$white;
      transition: all 0.2s ease;
    }
    .burger_span:nth-child(1) {
      transform: rotate(-45deg) translate(0px, 5px);
    }
    .burger_span:nth-child(3) {
      transform: rotate(45deg) translate(0px, -5px);
    }
    .burger_span:nth-child(2) {
      display: none;
    }
    .dropdown_link_wrap {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      height: -webkit-fill-available;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      background: variables.$blue;
      z-index: 0;
      opacity: 1; /* fade in */
      transform: translateY(0);
    }
    .dropdown_link_wrap > a {
      margin: 2rem 0;
      font-size: 2rem;
      color: variables.$white;
      display: block;
    }
  }
}
