@use "../variables";

.projects_outer_wrap {
  min-height: 100vh;
  // background: #eee;
}

.projects_inner_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  :nth-child(odd) {
    .project_inner {
      flex-direction: row-reverse;
    }
    .project_details_wrap {
      // transform: translateX(3rem) translateY(3rem);
    }
  }
  :nth-child(even) {
    .project_inner {
      flex-direction: row;
    }
    .project_details_wrap {
      // transform: translateX(-3rem) translateY(3rem);
    }
  }
}

.project_wrap {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  margin: 6rem 0;
  border-radius: 0.5rem;
}

.project_inner {
  flex: 1;
  display: flex;
  justify-content: space-between;
  height: 20rem;
}

.project_details_wrap {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  max-width: 18rem;
  max-height: 16rem;
  background: white;
  box-shadow: variables.$shadow-full;
}

.project_icon_wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.project_links_item {
  margin-left: 0.5rem;
  color: variables.$primary-color-light;
}

.project_image_wrap {
  height: 20rem;
  width: 36rem;
  box-shadow: variables.$shadow-full;
}

.project_title {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 1.5rem 0 1rem 0;
  color: variables.$primary-color-light;
}

.project_desc {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;
  flex: 1;
}

.project_stack {
  list-style: none;
  display: flex;
  font-family: variables.$font-accent;
}

.project_stack_item {
  font-weight: 300;
  margin-right: 1rem;
  font-size: 0.8rem;
  color: variables.$primary-color-light;
}

@media screen and (max-width: 768px) {
  .projects_outer_wrap,
  .projects_inner_wrap {
    flex-direction: column;
  }
}
