@use "../variables";

.projects_outer_wrap {
  min-height: 100vh;
  z-index: -1;
  position: relative;
  padding-top: 2rem;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: 8rem auto;
}

.projects_inner_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem auto;
  max-width: variables.$container-indent;
}

.project_wrap {
  display: flex;
  max-width: variables.$container;
  margin: 2rem 0;
  border-radius: 0.25rem;
  border: 1px solid rgb(52 49 49);
  box-shadow: variables.$shadow-low;
  overflow: hidden;
}

.project_inner {
  flex: 1 1;
  display: flex;
}

.project_details_wrap {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: variables.$shadow-full;
  border-radius: 0.25rem;
  text-shadow: variables.$text-shadow;
}

.project_icon_wrap {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: variables.$grey-med;
}

.project_links_item {
  margin-left: 0.5rem;
  color: variables.$grey-med;
}

.project_image_wrap {
  box-shadow: variables.$shadow-full;
  width: 26rem;
  // transition: all 0.2s ease-in-out;
}

.project_title {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 1.5rem 0 1rem 0;
  color: variables.$white;
}

.project_title:hover {
  color: variables.$green;
}

.project_desc {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;
  flex: 1;
}

.project_stack {
  list-style: none;
  display: flex;
  font-family: variables.$font-accent;
}

.project_stack_item {
  font-weight: 300;
  margin-right: 1rem;
  font-size: 0.8rem;
  color: variables.$green;
}

.more_projects {
  display: flex;
  justify-content: center;
  button {
    padding: 1rem 1rem;
    background: variables.$black-med;
    border: 1px solid variables.$grey-med;
    color: variables.$white;
    font-family: variables.$font-accent;
    box-shadow: variables.$shadow-low;
    margin-top: 2rem;
    border-radius: 0.25rem;
  }
}

button:hover {
  cursor: pointer;
  color: variables.$green;
  border: 1px solid variables.$green;
}

@media screen and (max-width: 768px) {
  .projects_outer_wrap,
  .projects_inner_wrap,
  .project_inner {
    flex-direction: column;
  }
  .project_image_wrap {
    height: 12rem;
    width: 100%;
  }
  .section_header_wrap {
    margin: 4rem 2rem;
  }
  .header_decoration {
    display: none;
  }
  .project_header::after {
    display: none;
  }
  .section_header_wrap {
    width: 100%;
    margin: 4rem 0;
    justify-content: flex-start;
  }
}
