@use "variables";

* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: variables.$black-med;
  color: variables.$grey-lite;
  font-family: variables.$font-stack;
  font-size: 16px;
}

h2 {
  text-shadow: variables.$text-shadow;
}

button:focus {
  outline: 0;
}

canvas:focus {
  outline: 0;
}

/*** pico 8 overrides ***/

#p8_container {
  max-width: 512px !important;
  max-height: 512px !important;
  padding: 2rem;
  margin: 0 auto;
}

.css-eyihk3 {
  margin-left: 0 !important;
}

.css-1xyuy13 {
  display: inline-block !important;
}
