@use "variables";

* {
  padding: 0;
  margin: 0;
}

body {
  background: variables.$body-gradient;
  color: variables.$primary-color;
  font-family: variables.$font-stack;
  font-size: 16px;
  min-height: 100vh;
}

h2 {
  margin: 8rem 0 4rem 0;
  color: tan;
}

// ul,
// li {
//   list-style: none;
// }
