@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

/*** SHADOWS ***/
$shadow-full: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07);
$shadow-low: 0 2.8px 1px -80px rgba(0, 0, 0, 0.02),
  0 6.7px 2.4px -80px rgba(0, 0, 0, 0.028),
  0 12.5px 4.5px -80px rgba(0, 0, 0, 0.035),
  0 22.3px 8px -80px rgba(0, 0, 0, 0.042),
  0 41.8px 15px -80px rgba(0, 0, 0, 0.05),
  0 100px 36px -80px rgba(0, 0, 0, 0.07);

$text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

/*** COLORS ***/
$white: #f9f9f9;
$black-lite: #373f51;
$black-med: #202020;
$black-dark: #1b1b1e;
// $black-pop: hsl(225 7% 12% / 1);
$black-pop: #1e2023;

$blue: #254bc9;
$green: #80e8c9;

$grey-lite: #d8dbe2;
$grey-med: #a9bcd0;
$grey-dark: #757575;

$red: #ed6464;

$black-gradient: linear-gradient(
  360deg,
  rgba(32, 32, 32, 1) 0%,
  rgba(43, 43, 43, 1) 100%
);

$red-gradient: linear-gradient(
  120deg,
  rgba(237, 100, 100, 1) 0%,
  rgba(88, 99, 176, 1) 100%
);
$normal-gradient: linear-gradient(
  120deg,
  rgba(128, 232, 201, 1) 0%,
  rgba(37, 75, 201, 1) 100%
);

/*** FONTS ***/
$font-stack: "Roboto", sans-serif;
$font-accent: "Fira Mono", monospace;
$primary-color: #272730;
$primary-color-light: #757575;

/*** CLIP PATHS ***/
$clip-top-left: polygon(
  5% 0%,
  100% 0,
  100% 5%,
  100% 95%,
  100% 100%,
  0 100%,
  0% 95%,
  0% 5%
);

$clip-bottom-right: polygon(
  0 0,
  100% 0,
  100% 5%,
  100% 95%,
  95% 100%,
  0 100%,
  0% 95%,
  0% 5%
);

/*** CONTAINERS ***/

$container-xl: 1080px;
$container: 900px;
$container-indent: 720px;
